*.suo 
*.user 
*.userosscache 
*.sln.docstates 
.vs/

# Build results 
bld/
bin/
obj/
src/packages/
src/TestResults/
src/Test.FunctionalTests.BinSkim.Driver/BaselineTestsData/Actual/
.local/
*.user
*.log
*.sdf
*.db
*.opendb

# Workaround for an msbuild/dotnet bug on Linux
src/BinSkimLinux.sln
launchsettings.json
/src/BinSkim.Driver.FunctionalTests/BaselineTestsData/Actual
