*.deb
*.suo 
*.user 
*.userosscache 
*.sln.docstates 
.vs/

# Build results 
bld/
bin/
obj/
**/packages/*
src/TestResults/
src/Test.FunctionalTests.BinSkim.Driver/BaselineTestData/Actual/
.local/
*.user
*.log
*.sdf
*.db
*.opendb
launchsettings.json
[Dd]ebug/
[Rr]elease/
x64/

# Workaround for an msbuild/dotnet bug on Linux
src/BinSkimLinux.sln
.vscode/settings.json
