*.suo 
*.user 
*.userosscache 
*.sln.docstates 
.vs/

# Build results 
bld/
bin/
obj/
src/packages/
src/TestResults/
src/BinSkim.Driver.FunctionalTests/BaselineTestsData/Actual/
.local/
*.user
*.log
*.sdf
