<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.BinSkim" version="1.4.4" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Sarif.Driver" version="1.7.2" targetFramework="net452" />
  <package id="Sarif.Sdk" version="1.7.2" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net452" />
  <package id="System.Composition" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.1.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.0" targetFramework="net452" />
</packages>