<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources />
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects> 
</configuration>