name: dotnet format

on:
  pull_request:
    branches: [ main ]

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v6

    - name: dotnet format
      run: dotnet format src --verify-no-changes