name: dotnet format

on:
  pull_request:
    branches: [ main ]

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v3

    - name: Install format tool
      run: dotnet tool install -g dotnet-format

    - name: dotnet format
      run: dotnet-format --folder --check  --exclude .\src\sarif-sdk\
